@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { 
    background-image: url(./ian-schneider-PAykYb-8Er8-unsplash.jpg);
    min-height: 100vh;
    font-family: "Roboto", "sans-serif";
    margin: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;    color: white;
    
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 50px;
}

.timer-container {
    display: flex;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    margin: 0 2rem;
    line-height: 5;
}

.pequenos {
    text-align: center;
}

.pequenos span {
    font-size: 1.3rem;
}